extends layout

block content
  <div class="titleDiv">
  h1= title
  p Welcome to #{title} an intelligent analysis tool for customer reviews
  </div>
  <br>
  <br>
  <div class="mainDiv">
  <img src="/images/lightbulb.jpg" class="productImage">
  <br>
  <br>
  <br>
  <textarea id="reviewTextArea" class="reviewTextArea" placeholder="Enter review" cols="40" rows="5"></textarea>
  <br>
  <br>
  <br>  
  <button id="submitReview" class="button" onClick="someFunction()">Submit Review</button>
  </div>